<html>
    <title>Home</title>
    <body>
        <h2>you are login successfully with facebook</h2>
        <h3>your name is {{name}}</h3>
        <h3>your profile picture</h3>
        <image src="https://graph.facebook.com/{{id}}/picture?type=large" />
    </body>
</html>